SECRET_KEY=add-secret-key-here
DATABASE_URL=sqlite:///example.db

STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

WRITER_USERNAME=writer
WRITER_EMAIL=writer@gmail.com
WRITER_PASSWORD=writer_password_goes_here